### Q1

In [ ]:
sheets = ["Bitcoin.csv", "Copper.csv", "Oil.csv", "Silver.csv"]
# Take bitcoin index and put it on all assets
df_returns = []
for sheet in sheets:
    df = pd.read_csv(sheet)[1:]
    for col in df.columns:
        try:
            df[col] = df[col].astype(float)
        except Exception as e:
            pass
    df["Ret"] = np.log(df["Close"]/df["Close"].shift(1))
    print(len(df["Ret"]))
    df_returns.append(df["Ret"])
    print(len(df_returns))
# df_returns = np.array(df_returns)

2498
1
1722
2
1721
3
1721
4

/Users/parthsatishlaturia/Library/Python/3.9/lib/python/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [ ]:
df[:10]

          Date  Adj Close   Close    High     Low    Open  Volume       Ret
1   2019-01-02     15.542  15.542  15.570  15.420  15.520    91.0       NaN
2   2019-01-03     15.706  15.706  15.706  15.706  15.706     7.0  0.010497
3   2019-01-04     15.695  15.695  15.695  15.620  15.690    12.0 -0.000701
4   2019-01-07     15.669  15.669  15.750  15.669  15.750    34.0 -0.001658
5   2019-01-08     15.626  15.626  15.626  15.626  15.626    27.0 -0.002748
6   2019-01-09     15.653  15.653  15.700  15.653  15.700    15.0  0.001726
7   2019-01-10     15.561  15.561  15.561  15.561  15.561    22.0 -0.005895
8   2019-01-11     15.577  15.577  15.615  15.577  15.595    43.0  0.001028
9   2019-01-14     15.609  15.609  15.615  15.590  15.590    38.0  0.002052
10  2019-01-15     15.546  15.546  15.625  15.546  15.610    64.0 -0.004044

In [ ]:
df[:10]

,Date,Adj Close,Close,High,Low,Open,Volume,Ret
1,2019-01-01,3843.520020,3843.520020,3850.913818,3707.231201,3746.713379,4.324201e+09,NaN
2,2019-01-02,3943.409424,3943.409424,3947.981201,3817.409424,3849.216309,5.244857e+09,0.025657
3,2019-01-03,3836.741211,3836.741211,3935.685059,3826.222900,3931.048584,4.530215e+09,-0.027422
4,2019-01-04,3857.717529,3857.717529,3865.934570,3783.853760,3832.040039,4.847965e+09,0.005452
5,2019-01-05,3845.194580,3845.194580,3904.903076,3836.900146,3851.973877,5.137610e+09,-0.003251
6,2019-01-06,4076.632568,4076.632568,4093.297363,3826.513184,3836.519043,5.597027e+09,0.058447
7,2019-01-07,4025.248291,4025.248291,4092.613525,4020.894043,4078.584961,5.228626e+09,-0.012685
8,2019-01-08,4030.847900,4030.847900,4109.020996,3996.955322,4028.472168,5.306593e+09,0.001390
9,2019-01-09,4035.296387,4035.296387,4068.403564,4022.662842,4031.552002,5.115905e+09,0.001103
10,2019-01-10,3678.924561,3678.924561,4064.066650,3659.174561,4034.411377,6.874144e+09,-0.092459

### Q4

In [ ]:
data = pd.read_csv("20250101biddata_genbids.csv")
data_cleaned = data[data["Market"] == " DAM"]
plot_overall_graph(data_cleaned, "20", "17", month = "01", month_str = "JAN")

In [ ]:
# Trying to bring all plots on the same figure


# dates = ["16", "17", "23", "24"]
# ldates = len(dates)
# times = ["08", "12", "17", "18", "19", "20"]
# ltimes = len(times)
# fig, ax = plt.subplots(ldates, ltimes, figsize = (15, 16))
# data_price = pd.DataFrame(index = dates, columns = times)
# for i in range(ldates):
#     date = dates[i]
#     for j in range(ltimes):
#         time = times[j]
#         temp = data_cleaned[data_cleaned["Date Time"].str.contains(f"{date}JUN2025:{time}")] # "16JUN2025:08"
#         qty_price = get_bid_stack(temp)
#         qp_df = plot(qty_price)
        
#         data_demand = pd.read_csv(f"20250601isolf_csv/202506{date}isolf.csv")
#         data_demand_value = data_demand["NYISO"][int(time)]
#         # ax[i, j].axvline(data_demand_value, color = 'r', label = f"Demand Forecast = {data_demand_value} MW")
#         # this represents the costliest price at which the buyer would have to buy some of its demand
#         data_demand_price = qp_df[qp_df["qty_cumsum"]>=data_demand_value]["price"].iloc[0] 
#         data_price.loc[date, time] = data_demand_price
        
#         ax[i, j].plot(data_demand_value, data_demand_price, marker = "o", color = 'g', label = f"Clearing price = {data_demand_price}")
#         # plt.axhline(data_demand_price, color = 'g', label = data_demand_price)
        
#         # ax[i, j].legend()
#         # plt.xlabel("Cumulative Supply (MW)")
#         # plt.ylabel("Bid Price ($/MWh)")
#         ax[i, j].set_title(f"202506{date} {time}:00")
# plt.show()

In [ ]:
# data_rt = pd.read_csv(f"2025{month}01realtime_zone_csv/2025{month}{date}realtime_zone.csv")